extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let butterflyid = toShow._id 
    - let butterfly_type = toShow.butterfly_Brand 
    - let butterflycost = toShow.cost 
    - let butterflysize = toShow.color  
    div 
      div.row 
        div(class='butterflyAttr mr-3') butterfly ID is: 
        div #{butterflyid} 
      div.row 
        div(class='butterflyAttr mr-3') butterfly Brand is: 
        div #{butterfly_Brand} 
      div.row 
        div(class='butterflyAttr mr-3') butterfly color  is: 
        div #{butterflycolor} 
      div.row 
        div(class='butterflyAttr mr-3') butterfly Cost is: 
        div #{butterflycost}